table
{
    text-align: left;
    margin: 6px;
   
}

table,th,td
{
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-block-end: 10px;
    font-size: 48px;
    padding: 2px;
}


